body{
    margin: 0 auto;
    background-color: #ebebeb;
}


#titulo{
    color: rgb(245, 97, 29);
    padding: 1rem 1rem;
    outline: 1.5px solid black;
    background-image: url(img/banner4.jpg);
    height: fit-content;
}

div h1{
    font-size: 4rem;
    text-align: center;
}

#barra{
    color: black;
}



#catalogo{
    margin: 0 auto;
}


.banners{
    margin: 10px 0px 10px 0px;
    padding: 10px 25px 20px 25px;
}



#banner{
    width: 90%;
    margin: 1rem;
}


table{
    border-collapse: collapse;
}

table thead{
    background-color: rgb(221, 20, 20);
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}



@media (max-width: 567px) {
    .hideables {
        display: none; 
    }
}

footer{
    background-color: black;
}

footer div{
    background-color: black;
    float: right;
}

footer p {
    margin: 0;
    color: white;
}

footer a{
    transform: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}

footer a:hover{
    color: cornflowerblue;
}